<div class="card">
  <div class="card-header">
    Danh sách người dùng
    <input type="text" (keyup)="search($event)">
  </div>
  <div class="card-body">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{ i + 1}}</th>
        <td>{{ user.name }}</td>
        <td><img width="150" [src]="user.img" alt=""></td>
        <td>{{ user.phone}}</td>
        <td>{{ user.address}}</td>
        <td>
          <button (click)="delete(i)" class="btn btn-danger">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
